.row.align-items-center
  .col
    span.nav-trigger
      i
  .col.text-center
    a(href=links.home(), title=config.name)#logo
  .col
#page-menu
  if(mainCategories)
    ul.page-menu_list
      each item in mainCategories
        li.page-menu_i
          a(href=links.category(item.slug), title=item.name, class=(selectedCategory && selectedCategory.slug===item.slug) ? 'active': null)= item.name
