
.c-alb_i {
    min-width: 240px;
}
.c-alb_pic {
    width: 100%;
}
.c-alb_ads {
    text-align: center;
}

// @include media-breakpoint-up(xs) {
//     .c-alb_i {
//         max-width: 420px;
//     }
// }