.o-list-ads {
    text-align: center;
}
.o-list-ads_i {
    max-height: 320px;
}

.c-alb_i {
    min-width: 240px;
}
.c-alb_pic {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}
.c-alb_stats {
    color: $muted-color;
    font-size: 80%;
}
.c-alb_ads {
    text-align: center;
}
